<form method="POST" action="/new">
  <p>Name: <input type="text" name="name">
  <p>Breed: <input type="text" name="breed">
  <p>Age: <input type="text" name="age">
  <input type="submit" value="submit">
</form>
