<html>
  <body>
    <h1>Puppy Name:<%="\n" + @name %></h1>
    <!-- </h1> or </p> or <br> did not produce line break -->
    <!-- did not want to  interpolate -->
    <!-- but do not understand capybara's have_text reading \n -->
    <h1>Puppy Breed:<%="\n" + @breed %></h1>
    <h1>Puppy Age:<%="\n" + @age %></h1>
  </body>
</html>
